@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    
    scroll-behavior: smooth;
}
/* MENU */
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #f6a700;
    text-decoration: none;
}
.contenedor-header header nav ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #f6a700;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    
}
.contenedor-header header nav ul li a:hover{
    color: #f6a700;
}
.nav-responsive{
    background-color: #83736d;
    color:#f6a700;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION I N I C I O */
.home{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(imagens/yellotail.png);
    background-size: cover;
    height: 120vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.home .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.home .contenido-banner img{
    margin-top: 40px;
    border: 2px solid #f6a700;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 6%;
}
.home .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.home .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.home .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #f6a700;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.home .contenido-banner .redes a:hover{
    background-color: #f6a700;
}
.about{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.about .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.about h2{
    font-size: 40px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.about .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.about .contenido-seccion p span{
    color: #f6a700;
    font-weight: bold;
}
.about .fila{
    display: flex;
}
.about .fila .col
{
    width: 50%;
}
.about .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.about .fila .col ul{
    list-style: none;
}
.about .fila .col ul li{
    margin: 12px 0;
}
.about .fila .col ul li strong{
    display: inline-block;
    color: #f6a700;
    width: 130px;
}
.about .fila .col ul li span{
    background-color: #f6a700;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.about button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    border-radius: 14px; 
}
.about button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f6a700;
    z-index: -1;
    border-radius: 14px; 
    transition: width 1s, border-radius 1s;
}
.about button:hover .overlay{
    width: 100%;
    border-radius: 14px;
}

button a {
    color: #fff; 
    text-decoration: none;
}

button a:hover {
    color: #fdfdfd; 
}
/* SECCION S K I L L S */
.skills {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 40px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.skills .fila {
    display: flex;
    flex-wrap: wrap;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill > span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill {
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso {
    background-color: #f6a700;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #f6a700;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.skills .skill .javascript {
    width: 0%;
    animation: animateSkill 2s forwards;
}

@keyframes animateSkill {
    0% { width: 0%; }
    100% { width: 75%; }
}

.skills .skill .htmlcss {
    width: 0%;
    animation: animateHtmlCss 2s forwards;
}

@keyframes animateHtmlCss {
    0% { width: 0%; }
    100% { width: 89%; }
}

.skills .skill .photoshop {
    width: 0%;
    animation: animatePhotoshop 2s forwards;
}

@keyframes animatePhotoshop {
    0% { width: 0%; }
    100% { width: 95%; }
}

.skills .skill .wordpress {
    width: 0%;
    animation: animateWordpress 2s forwards;
}

@keyframes animateWordpress {
    0% { width: 0%; }
    100% { width: 81%; }
}

.skills .skill .drupal {
    width: 0%;
    animation: animateDrupal 2s forwards;
}

@keyframes animateDrupal {
    0% { width: 0%; }
    100% { width: 55%; }
}

.skills .skill .comunicacion {
    width: 0%;
    animation: animateComunicacion 2s forwards;
}

@keyframes animateComunicacion {
    0% { width: 0%; }
    100% { width: 80%; }
}

.skills .skill .trabajo {
    width: 0%;
    animation: animateTrabajo 2s forwards;
}

@keyframes animateTrabajo {
    0% { width: 0%; }
    100% { width: 70%; }
}

.skills .skill .creatividad {
    width: 0%;
    animation: animateCreatividad 2s forwards;
}

@keyframes animateCreatividad {
    0% { width: 0%; }
    100% { width: 99%; }
}

.skills .skill .dedicacion {
    width: 0%;
    animation: animateDedicacion 2s forwards;
}

@keyframes animateDedicacion {
    0% { width: 0%; }
    100% { width: 65%; }
}

.skills .skill .proyect {
    width: 0%;
    animation: animateProyect 2s forwards;
}

@keyframes animateProyect {
    0% { width: 0%; }
    100% { width: 94%; }
}
/* SECCION CURRICULUM */
.curriculum{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 40px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #252A2E;
}
.curriculum .fila .derecha{
    border-left: 2px solid #252A2E;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: #f6a700;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #f6a700;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid #f6a700;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #f6a700;
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #f6a700;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #f6a700;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #f6a700;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #f6a700;
    float: left;
    position: relative;
    bottom: 4px;
}
/* SECCION PORTFOLIO */
.portfolio{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 40px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio .galeria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: stretch;
    gap: 2.5rem;
    justify-content: center;
}
.portfolio .galeria .proyecto{
  position: relative;
  border-radius: 10%;
  box-shadow: 0 0 0.7rem #f6a700;
  overflow: hidden;
  display: flex;
  margin-bottom: 2rem;
}
.portfolio .galeria .proyecto img{
    width: 100%;
    display: block;
    height: auto;
}
.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(#f6a700(28,182,152,.8), #f6a700(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
/* SECCION CONTACTO */
.contacto {
    background-image: url(imagens/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}

.contacto .contenido-seccion {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.contacto h2 {
    font-size: 40px;
    font-family: 'Righteous';
    text-align: center; 
    margin-bottom: 10px;
}

.contacto .form {
    width: 600px;
    text-align: center; 
}

.contacto .col {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    box-sizing: border-box;
}


.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #f6a700;
    width: 100%;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    border-radius: 16px;
    overflow: hidden;
    transition: background-color 0.5s;
}

.contacto button:hover {
    background-color: #f6a700;
}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f6a700;
    z-index: -1;
    transition: width 1s;
}

.contacto button:hover .overlay {
    width: 100%;
}

.contacto .col img {
    width: 100%;
}

.contacto .col .info {
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul {
    list-style: none;
}

.contacto .col .info ul li {
    margin-bottom: 20px;
}

.contacto .col .info ul li i {
    color: #f6a700;
    display: inline-block;
    margin-right: 20px;
}

/* Media Queries for Responsive Design */

@media only screen and (max-width: 768px) {
    .contacto .col {
        width: 100%;
        max-width: none;
    }

    .contacto .col .info {
        position: static;
        max-width: none;
        transform: none;
        top: auto;
        left: auto;
        padding: 0;
        margin: 20px auto;
    }

    .contacto button {
        padding: 8px 18px;
        font-size: 14px;
        margin: 10px auto;
    }
}
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 25px 0 15px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 10px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #f6a700;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .redes a:hover{
    background-color: #f6a700;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #f6a700;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobre .fila{
        display: block;
    }
    .sobre .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contact .fila{
        display: block;
    }
    .contact .fila .col{
        width: 100%;
    }
}
